<%= render 'components/banner' %>

<div class="container">
  <div class="row">
    <h1>All Cocktails</h1>
    <ul class="list-unstyled">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-4">
          <%= link_to(cocktail_path(cocktail)) do %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo, height: 400, width: 800, crop: :fill %>'); height: 100px, width: 100px">
              <div class="card-category"><%= cocktail.ingredients[0].name %></div>
              <div class="card-description">
                <li> <%= cocktail.name %></li>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </ul>
  </div>
</div>


